@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bogotá<br />
    Colombia<br />
    <abbr title="Phone">P:</abbr>
    +573012456984
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:andresgarcia0313@gmail.com"> Correo</a><br />
    <strong>Mercado Tecnia:</strong> <a href="mailto:andresgarcia0313@gmail.com">andresgarcia0313@gmail.com</a>
</address>
